div {
    border: 1px solid gray;
    padding: 4px;
    margin: 4px;
}

.wrapper {
    border-color: orange;
    width: 900px;
    margin: auto;
}

.header,
.container,
.footer {
    border-color: slateblue;
}

.sub-container-top,
.sub-container-bottom {
    border-color: coral;
}

.main-left,
.main-right {
    border-color: crimson;
    width: 47%;
    height: 320px;
    background-color: crimson;
}

.main-left {
    float: left;
}

.main-right {
    float: right;
}

.block {
    border-color: lightgreen;
    width: 31%;
    height: 320px;
    background-color: lightgreen;
    float: left;
}

.cf {
    position: relative;
    display: block;
    clear: both;
}
