/* general styles */
html, body {
    margin: 0;
    font-family: Calibri;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.cf {
    position: relative;
    display: block;
    clear: both;
}
