* {
    font-family: Arial;
    font-weight: normal;
    color: gray;
    box-sizing: border-box;
}

div {
/*    border: 1px solid lightgrey;*/
/*    padding: 4px;*/
/*    margin: 4px;*/
}

.wrapper {
    border-color: crimson;
    width: 980px;
    margin: auto;
    box-shadow: 0 2px 3px gray;
}

.header,
.content,
.footer {
    border-color: cornflowerblue;
}

.title-content .logo {
    background-color: lightgray;
    border-radius: 50%;
    display: block;
    margin: auto;
    height: 136px;
    width: 136px;
}

.title-content h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title-content,
.block,
.social,
.copy {
    border-color: lightgreen;
}

.block-menu a {
    text-decoration: none;
    background-color: lightgray;
    padding: 4px 8px;
}

.block-h {
/*    background-color: lightgray;*/
    width: 32%;
/*    height: 220px;*/
    float: left;
}
.block-h img {
    background-color: lightgray;
    width: 260px;
    height: 160px;
}
.block-h p {
    margin-top: 5px;
}

.social {
    text-align: center;
}
.social img {
    background-color: lightgray;
    width: 36px;
    height: 36px;
    margin: 0 10px;
}
.copy p {
    text-align: center;
}

.cf {
    position: relative;
    display: block;
    clear: both;
}
